<div class="login-container">
    <div class="logo">
      <img src="assets/12.png" alt="Logo Assure" />
    </div>
  
    <h2 class="title">Bienvenue</h2>
  
    <form [formGroup]="loginForm">
            <input
        type="email"
        placeholder="Adresse Email"
        formControlName="email"
        name="email"
        required
      />
  
      <input
      formControlName="password"
        type="password"
        placeholder="Mot de passe"
        name="password"
        required
      />
  
      <button (click)="login()">Se connecter</button>
    </form>
    
    <a routerLink="/register" class="switch-link">Pas encore inscrit ? Créer un compte</a>


    
    <a routerLink="/forgot-password" class="switch-link">Mot de passe oublié ?</a>
  </div>
  