 <div class="container">
      <header class="header">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <h1>Bienvenue sur <span class="ahmini">AHMINI</span></h1>
        <p class="slogan">La plateforme d’assurance sociale pour les femmes rurales</p>
            <img src="assets/12.png" alt="Logo AHMINI" class="logo">
  <span class="slogant">ahmini</span>


      </header>

      <div class="image-section">
        <img src="assets/002.png" alt="Femmes rurales" class="hero-image">
         <p>Choisissez votre profil pour découvrir les services disponibles :</p>

      </div>

      <div class="btn-group">
        <button class="btn" routerLink="/ambassador">
          <i class="fas fa-user"></i> Je suis Ambassadeur
        </button>
        <button class="btn1" routerLink="/particulier">
          <i class="fas fa-hand-holding-heart"></i> Je suis Particulier
        </button>
      </div>
        <img src="assets/ctama.png" alt="CTAMA" class="ctama-logo">

      <footer class="footer">
        <p>© 2025 AHMINI. Tous droits réservés. +216 22 000 000</p>
      </footer>
    </div>