  .container {
      text-align: center;
      padding: 2rem;
background: linear-gradient(to bottom,#fefcf3, #fefcf3,#fefcf3,#a7e8d4,#55cba8,#69debb);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .header h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #144d43;
    }

    .ahmini {
      color: #007c6c;
    }

    .slogan {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      color: #333;
    }

    .image-section {
      margin: 1rem 0;

    }

    .hero-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 1.75rem;
    }

   .btn-group {
  display: flex;
  flex-direction: row; /* Changé de column à row */
  gap: 0.5rem;
  margin: 0.2rem 0 0.5rem 0; /* Réduit margin-top (première valeur) */
    position: relative;
  top: -35px;
  margin-left: 400px;
}

  


    .btn {
      background-color:#fba80e;
      color: rgb(240, 244, 242);
      padding: 1rem;
      border: none;
      border-radius: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      max-width: 300px;
      margin: 10px;
    }
     .btn1 {
     background-color :#fba80e;
      color: rgb(249, 247, 247);
      padding: 1rem;
      border: none;
      border-radius: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      max-width: 300px;
      margin: 10px;
    }

    .btn:hover {
      background-color: #005f53;
    }
    .btn1:hover {
      background-color: #005f53;
    }

    .footer {
      font-size: 0.9rem;
      color: #555;
      position: relative;
      top: -40px;

    }

    .ctama-logo {
      width: 40px;
      margin-bottom: 0.1rem;
  margin-right: 500px;
  position: absolute;
    top: 40px;       /* distance du haut */
left: 1450px;
right: 100px;
    }
   .logo {
  position: absolute;
  top: 50px;       /* distance du haut */
  left: 20px;      /* distance de la gauche */
  height: 30px;
  width: auto;
  z-index: 1000;   /* pour s'assurer qu'il reste au-dessus */
}


.slogant {
  font-size: 18px;
  font-family:  sans-serif;

  font-weight: lighter;
  color: #022f08;
  position: relative;         /* nécessaire pour que "top" fonctionne */
  top: -120px;                  /* valeur négative pour déplacer vers le haut */
  margin-right: 1345px;         /* ajuste l'espacement avec le logo */
}


