<div class="container">
    <header>
        <div class="user-info">
            <img src="assets/user.png" alt="User" class="user-icon"/>
            <span class="greeting">Espace Ambassadeur</span>
            <button class="settings-btn">⚙️</button>
        </div>
        <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

    </header>
    
    <main>
        <div class="welcome">
            <img src="assets/12.png" alt="Femme" class="hero-img">


            <p>Votre mission commence ici :Connectez-vous ou créez votre compte</p>
            <a routerLink="/login">
              <button class="login-btn">se connecter</button>
            </a>
            
        </div>
        
        <nav class="nav">
            <ul>
              <li class="has-submenu">
                <button>
                  <i class="fas fa-box"></i> fonctionnalité
                </button>
                <ul class="submenu">
                  <li>demande d’adhésion</li>
                  <li>Déclarer un sinistre</li>
                  <li>Parrainage</li>
                  <li>Paiement en ligne</li>
                </ul>
              </li>
              <li>
                <button>
                  <i class="fas fa-question-circle"></i> aide
                </button>
              </li>
              <li>
                <button>
                  <i class="fas fa-info-circle"></i> À propos 
                </button>
              </li>
            </ul>
          </nav>
          
          
    </main>

    <footer>
        <nav class="footer-nav">
            <span>Home</span>
            <span>Orders</span>
            <span>Account</span>
        </nav>
    </footer>
</div>